@using doan.Utilities;
@model doan.Models.Product

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="app-wrapper">
    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">
            <h1 class="app-page-title">Overview</h1>
            <form asp-action="Create" method="post">
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Alias" class="control-label"></label>
                    <input asp-for="Alias" class="form-control" />
                    <span asp-validation-for="Alias" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryProductId" class="control-label">Chọn mục</label>
                    <select asp-for="CategoryProductId" class="form-control"
                            asp-items="@(new SelectList(ViewBag.prdcatList, "Value","Text"))">
                    </select>
                    <span asp-validation-for="CategoryProductId" class="alert-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group col-md-12">
                    <label class="control-label">Images</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="btn btn-success" type="button" onclick="openDialog()">Choose a pic</button>
                        </div>
                        <input type="text" class="form-control" asp-for="Image" id="file_input">
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label asp-for="Detail" class="control-label">Detail</label>
                    <textarea asp-for="Detail" class="form-control"></textarea>
                </div>
                <div class="form-group d-none">
                    <input asp-for="CreatedBy" class="form-control" value="@Functions._UserName" /><!--sau lấy uses name admin vô-->
                </div>

                <div class="form-group d-none">
                    <input asp-for="CreatedDate" class="form-control" value="@Functions.getCurrentDate()" />
                </div>

                <div class="form-group d-none">
                    <input asp-for="IsNew" class="form-control" value="1" />
                </div>
                <div class="form-group d-none">
                    <input asp-for="IsBestSeller" class="form-control" value="1" />
                </div>
               
                <div class="form-group">
                    <label>
                        @Html.CheckBox("IsActive",false)
                        IsActive
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>

@{
    var summerNote = new doan.Areas.Admin.Models.SummerNote("#Detail");
    <partial name="_SummerNote" model="summerNote" />
}
@*
 @section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
 *@