@{
    ViewData["Title"] = "Read Cookie";
}

<h2>Read Cookie</h2>

<div class="page-header">
</div>
<div class="contact mt-6">
    @if (ViewBag.CookieValue != null)
    {
        <p>Cookie Value: @ViewBag.CookieValue</p>
    }
    else
    {
        <p>No cookie found.</p>
    }
    <p>
        <a asp-controller="Cookie" asp-action="SetCookie">Set Cookie</a>
        <a asp-controller="Cookie" asp-action="Index">Go back to Home</a>
    </p>
</div>