@{
    ViewBag.Active = "About";
}

<!-- Page Header Start -->
<div class="page-header mb-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Về chúng tôi</h2>
            </div>
            <div class="col-12">
                <a href="">Trang chủ</a>
                <a href="">Về chúng tôi</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- About Start -->
<div class="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img">
                    <img src="~/img/about.jpg" alt="Image">
                    <button type="button" class="btn-play" data-toggle="modal" data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-target="#videoModal">
                        <span></span>
                    </button>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-header">
                        <p>Về chúng tôi</p>
                        <h2>Chào mừng đến với nhà hàng bán pizza của chúng tôi!</h2>
                    </div>
                    <div class="about-text">
                        <p>Chúng tôi tự hào được giới thiệu đến bạn một không gian ẩm thực đầy màu sắc và đa dạng, nơi chúng tôi mang đến những món pizza tuyệt vời nhất dành riêng cho bạn. Với niềm đam mê về ẩm thực và sự tận hưởng của khách hàng, chúng tôi cam kết mang đến những trải nghiệm ẩm thực đáng nhớ cho mọi thực khách.</p>
                        <p>Tại nhà hàng của chúng tôi, chúng tôi luôn đặt chất lượng lên hàng đầu. Chúng tôi chọn lựa cẩn thận các nguyên liệu tươi ngon và chất lượng cao nhất để tạo ra những chiếc bánh pizza tuyệt hảo. Từ những lớp vỏ mỏng mịn, nhân phô mai béo ngậy, cho đến hỗn hợp các loại topping tươi ngon và sốt thơm ngon, mỗi chiếc pizza được chế biến với sự tỉ mỉ và tâm huyết từ đầu bếp của chúng tôi.</p>
                        <p>Không chỉ đơn thuần là một nhà hàng bán pizza, chúng tôi còn tạo ra một không gian thoải mái và ấm cúng để bạn có thể thưởng thức món ăn cùng gia đình và bạn bè. Với không gian trang nhã và dịch vụ chuyên nghiệp, chúng tôi cam kết mang đến cho bạn một trải nghiệm ẩm thực đáng nhớ.</p>
                        <p>Chúng tôi cũng hiểu rằng mỗi người có những sở thích và nhu cầu ẩm thực riêng. Vì vậy, chúng tôi cung cấp một loạt các lựa chọn pizza đa dạng, từ những món truyền thống như Margherita và Pepperoni, đến những phong cách đặc biệt như pizza hải sản tươi sống hoặc pizza chay phong cách Ý. Bất kể bạn là người ưa chuộng hương vị cổ điển hay một tín đồ ẩm thực thích khám phá, chúng tôi sẽ đáp ứng mọi mong muốn của bạn.</p>
                        <p>Cảm ơn bạn đã ghé thăm nhà hàng bán pizza của chúng tôi. Hãy đến và khám phá thế giới pizza tại địa chỉ của chúng tôi và để chúng tôi mang đến cho bạn một trải nghiệm ẩm thực tuyệt vời.</p>



                        <a class="btn custom-btn" href="/Booking">Đặt ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Video Modal Start-->
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <!-- 16:9 aspect ratio -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always" allow="autoplay"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Video Modal End -->
