@using doan.Utilities;
@model IList<Menu>


<div class="navbar navbar-expand-lg bg-light navbar-light">
    <div class="container-fluid">
        <a href="index.html" class="navbar-brand">Burger <span>King</span></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav ml-auto">
                @foreach (var menu in Model.Where(m=>m.Levels==1))
                {
                    
                    var Pid = menu.MenuId;
                    string url = Functions.TitleSlugGeneration("list", menu.MenuName, menu.MenuId);
                    if(!string.IsNullOrEmpty(menu.Link))
                    {
                        url = menu.Link;
                    }

                    var Smenu = Model.Where(p => p.ParentId == Pid).ToList();

                    @if (Smenu.Count == 0)
                    {
                        <a href="/@url" class="nav-item nav-link ">@menu.MenuName</a>
                    }
                    else
                    {
                        <div class="nav-item dropdown">
                            <a href="/@url" class="nav-link dropdown-toggle" data-toggle="dropdown">@menu.MenuName</a>
                            <div class="dropdown-menu">
                                @foreach(var smn in Smenu){
                                    string url1 = Functions.TitleSlugGeneration("list", smn.MenuName, smn.MenuId);
                                    if (!string.IsNullOrEmpty(smn.Link))
                                    {
                                        url = smn.Link;
                                    }
                                    <a href="/@url1" class="dropdown-item">@smn.MenuName</a>
                                }
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
