@model IList<Chef>
@using doan.Models;
@{
    ViewBag.Active = "Chef";
}

<div class="page-header">

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Đầu bếp của chúng tôi</h2>
            </div>
            <div class="col-12">
                <a href="">Trang chủ</a>
                <a href="">Đầu bếp</a>
            </div>
        </div>
    </div>
</div>
<!-- Team Start -->
<div class="team">
    <div class="container">
        <div class="row ">
            @await Component.InvokeAsync("Chef")   
        </div>
    </div>
</div>
<!-- Team End -->

