@using doan.Utilities;
@model doan.Models.Contact
@{
    ViewBag.Active = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Liên hệ với chúng tôi</h2>
            </div>
            <div class="col-12">
                <a href="">Trang chủ</a>
                <a href="">Liên hệ</a>
            </div>
        </div>
    </div>
</div>

<!-- Contact Start -->
@await Component.InvokeAsync("Contact")

           