@model doan.Models.Menu
@using doan.Utilities;

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="app-wrapper">
    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="MenuName" class="control-label">Tên menu</label>
                    <input asp-for="MenuName" class="form-control" />
                    <span asp-validation-for="MenuName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Alias" class="control-label"></label>
                    <input asp-for="Alias" class="form-control" />
                    <span asp-validation-for="Alias" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Levels" class="control-label"></label>
                    <input asp-for="Levels" class="form-control" />
                    <span asp-validation-for="Levels" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ParentId" class="control-label">Chọn menu cha</label>
                    <select asp-for="ParentId" class="form-control"
                            asp-items="@(new SelectList(ViewBag.mnList, "Value","Text"))">
                    </select>
                    <span asp-validation-for="ParentId" class="alert-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Position" class="control-label"></label>
                    <input asp-for="Position" class="form-control" />
                    <span asp-validation-for="Position" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Link" class="control-label"></label>
                    <input asp-for="Link" class="form-control" />
                    <span asp-validation-for="Link" class="text-danger"></span>
                </div>

                <div class="form-group d-none">
                    <input asp-for="CreatedBy" class="form-control" value="Admin" /><!--sau lấy uses name admin vô-->
                </div>
                <div class="form-group d-none">
                    <input asp-for="CreatedDate" class="form-control" value="@Functions.getCurrentDate()" />
                </div>
                <div class="form-group d-none">
                    <input asp-for="ModifiedBy" class="form-control" value="Admin" /><!--sau lấy uses name admin vô-->
                </div>
                <div class="form-group d-none">
                    <input asp-for="ModifiedDate" class="form-control" value="@Functions.getCurrentDate()" />
                </div>

                <div class="form-group">
                    <label>
                        @Html.CheckBox("IsActive",false)
                        IsActive
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>



@* @section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
 *@