@using doan.Models;
@using doan.Utilities;
@model IList<Blog>



<!--Recent Post -->
<div class="sidebar-widget">
    <h2 class="widget-title">Bài viết gần nhất</h2>
    <div class="recent-post">
        @foreach (var item in Model)
        {
            var createHour = Convert.ToInt32(item.CreatedDate.ToString("HH"));
            var createDay = Convert.ToInt32(item.CreatedDate.ToString("dd"));
            var createMonth = Convert.ToInt32(item.CreatedDate.ToString("MM"));
            var createYear = Convert.ToInt32(item.CreatedDate.ToString("yyyy"));

            var hourNow = Convert.ToInt32(DateTime.Now.ToString("HH"));
            var dayNow = Convert.ToInt32(DateTime.Now.ToString("dd"));
            var monthNow = Convert.ToInt32(DateTime.Now.ToString("MM"));
            var yearNow = Convert.ToInt32(DateTime.Now.ToString("yyyy"));

            var year = yearNow - createYear;
            var month = year * 12 + monthNow - createMonth;
            var day = month * 30 + dayNow - createDay;
            var hour = day * 24 + hourNow - createHour;

            String url = Functions.TitleSlugGeneration("blog", item.Title, item.BlogId);
            <div class="post-item">
                <div class="post-img">
                    <img src="@item.Image" />
                </div>
                <div class="post-text">
                    <a href="/@url">@item.Title</a>
                    <div class="post-meta">
                        <p>By<a href="">@item.CreatedBy</a></p>
                        @if (hour<24)
                        {
                            <p><a href="">@hour giờ trước</a></p>
                        }
                        else
                        {
                            if (day < 30)
                            {
                                <p><a href="">@day ngày trước</a></p>
                            }
                            else 
                            {
                                if (month < 12)
                                {
                                    <p><a href="">@month tháng trước</a></p>
                                }
                                else
                                {
                                    <p><a href="">@year năm trước</a></p>

                                }
                            }
                        }
                    </div>
                </div>
            </div>

        }
    </div>
</div>
<!--Recent Post End -->